<h2>Events</h2>
<form action="/events" method="GET">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" name="name" value="<%= searchOptions.name %>">
    </div>
    <div class="mb-3">
        <label for="dateAfter" class="form-label">After date</label>
        <input type="date" class="form-control" id="dateAfter" name="dateAfter" value="<%= searchOptions.dateAfter %>">
    </div>
    <div class="mb-3">
        <label for="dateBefore" class="form-label">Before date</label>
        <input type="date" class="form-control" id="dateBefore" name="dateBefore"
            value="<%= searchOptions.dateBefore %>">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% events.forEach(event=> { %>
            <tr>
                <td style="width: 20px;"><img height="100" width="100" src="<%= event.posterImagePath %>"></td>
                <td>
                    <%= event.name %>
                </td>
                <td>
                    <%= event.date.toDateString("ddMMyyyy") %>
                </td>
                <td>
                    <div>
                        <a href="/events/<%= event.id %>">View</a>
                    </div>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>