<div class="float-div">
    <h3 class="site-header">ORGANIZIRANI DOGAĐAJI</h3>
    <br>

    <form class="d-flex" action="/events" method="GET">
        <div class="mb-3 mx-2 flex-fill">
            <label for="name" class="form-label">Naziv</label>
            <input class="form-control" id="name" name="name" value="<%= searchOptions.name %>">
        </div>
        <div class="mb-3 mx-2 flex-fill">
            <label for="dateAfter" class="form-label">Nakon datuma</label>
            <input type="date" class="form-control" id="dateAfter" name="dateAfter"
                value="<%= searchOptions.dateAfter %>">
        </div>
        <div class="mb-3 mx-2 flex-fill">
            <label for="dateBefore" class="form-label">Prije datuma</label>
            <input type="date" class="form-control" id="dateBefore" name="dateBefore"
                value="<%= searchOptions.dateBefore %>">
        </div>
        <div class="mb-3 mx-2">
            <label class="form-label">&nbsp;</label>
            <button type="submit" class="form-control btn btn-primary">Pretraga</button>
        </div>
        <div class="mb-3 mx-2 ml-5">
            <label class="form-label">&nbsp;</label>
            <a href="/events/new_organizer" class="form-control btn btn-success">Dodajte događaj&nbsp;&nbsp; <i class="bi bi-calendar-plus"></i></a>
        </div>
    </form>
</div>
<% events.forEach(event=> { %>
    <div class="float-div event-div d-flex">
        <div class="event-left">
            <img class="event-img" height="100" width="100" src="<%= event.posterImagePath %>">
        </div>
        <div class="event-right ps-5 pe-3 py-2">
            <h3 class="fw-bold"><%= event.name %></h3>
            <hr/>
            <div class="d-flex">
                <label>Datum:&nbsp; </label>
                <p><%= event.date.toDateString("ddMMyyyy") %></p>
            </div>
            <div class="d-flex">
                <label>Lokacija:&nbsp; </label>
                <p><%= event.location.name %></p>
            </div>
            <div class="d-flex">
                <label>Kategorija:&nbsp; </label>
                <p><%= event.category.name %></p>
            </div>
            <div class="d-flex">
                <label>Broj rezervacija:&nbsp; </label>
                <p></p>
            </div>
            <div class="d-flex organiser-div">
                <label>Organizator:&nbsp; </label>
                <p><%= event.organizer.name %></p>
            </div>
            <div class="view-btn mb-2 me-2 d-flex">
                <div>
                    <a href="/events/<%= event.id %>" class="btn btn-primary">Pogledajte događaj</a>
                </div>
                <div class="ms-2">
                    <a href="/events/<%= event.id %>/edit_organizer" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                </div>
                <div class="ms-2">
                        <%- include('../partials/deleteForm', {
                            url: `/events/${event.id}`
                        }) %>
                </div>
            </div>
        </div>
    </div>
<% }); %>