<div class="float-div">
    <h3 class="site-header">KORISNICI</h3>
    <br>
    <form class="d-flex" action="/users" method="GET">
        <div class="mb-3 mx-2 flex-fill">
            <label for="username" class="form-label">Korisničko ime</label>
            <input class="form-control" id="username" name="username" value="<%= searchOptions.username %>">
        </div>
        <div class="mb-3 mx-2 flex-fill">
            <label for="role" class="form-label">Uloga</label>
            <select id="role" name="role" class="form-select">
                <option selected value=""></option>
                <option label="Korisnik" value="User"></option>
                <option label="Organizator" value="Organiser"></option>
                <option label="Administrator" value="Admin"></option>
            </select>
        </div>
        <div class="mb-3 mx-2">
            <label class="form-label">&nbsp;</label>
            <button type="submit" class="form-control btn btn-primary">Pretraga</button>
        </div>
    </form>
</div>
<div class="float-div">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Korisničko ime</th>
                <th scope="col">Uloga</th>
                <th style="width: 100px;">
                    <div class="d-flex justify-content-end">
                        <a href="/users/new" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=> { %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.role %></td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a href="/users/<%= user.id %>" class="btn btn-primary me-2"><i class="bi bi-eye"></i></a>
                        <a href="/users/<%= user.id %>/edit" class="btn btn-primary me-2"><i class="bi bi-pencil"></i></a>
                        <%- include('../partials/deleteForm', {
                            url: `/users/${user.id}`
                        }) %>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>