<div class="float-div">
    <h3 class="site-header">PORUKE</h3>
    <hr class="mb-1">
    <table class="table">
        <thead>
            <tr>
                <th><i class="bi bi-camera-fill"></i></th>
                <th>Naziv događaja</th>
                <% if (user.role == 'User') { %><th>Organizator</th><% } %>
                <% if (user.role == 'Organiser') { %><th>Korisnik</th><% } %>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% chats.forEach(chat=> { %>
                <tr>
                    <td style="width: 120px"><img height="100" width="100" style="border-radius: 5px;"  src="<%= chat.event.posterImagePath %>"></td>
                    <td><%= chat.event.name %></td>
                    <% if (user.role == 'User') { %><td><%= chat.organizer.name %></td><% } %>
                    <% if (user.role == 'Organiser') { %><td><%= chat.user.name %></td><% } %>
                    <td>
                        <div class="d-flex justify-content-end">
                            <a href="/chats/<%= chat.id %>" class="btn btn-primary me-2"><i class="bi bi-eye"></i></a>
                        </div>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>